.sidebar {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: $secondary-darker;
  align-content: baseline;
  width: 120px;
  height: 100vh;
  
  padding: 0 10px;

  & .side-links {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: $navbar-text;
    font-size: $text-size-m;
    font-family: $font-type-a;
    font-weight: 700;

    & a{
      text-decoration: none;
      color: $navbar-text;
      font-weight: 400;
      width: 100%;
    }

  }
}