.full-card-message{
  margin: 0 auto;
  padding: 10px;
  max-width: 340px;

}

.email-line{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;

  span {
    text-shadow: none;
  }

  p{
    font-family: $font-type-b;
    text-align: center;
    text-shadow: none;
  }
  

  img{
    margin-bottom: 10px;
    height:60px;
    border-radius: 50%;
    box-shadow: $image-shadow;
  }
}


.email-subject{
  font-family: $font-type-b;
  font-size: $text-size-m;
}

.email-timestamp{
  font-family: $font-type-b;
  font-size: $font-size-card-el;
  font-weight: 400;
  margin: 0px;
  margin-right: 0.25em;
  background-color: $secondary-color;
  border-radius: 3px;
  display: inline;
  color: $secondary-darker;
  padding: 2px 4px;
  align-self: center;
  margin: 10px 5px 0px 0px;
}
.body-message{
  font-family: $font-type-b;
  font-size: $text-size-m;
  padding: 10px;
  border: 1px solid rgb(240, 231, 231);
  border-radius: $radius-a;
  display: flex;
  flex-direction: column;
  box-shadow: $image-shadow;
  display:flex;
  flex-direction: column;
}

.user-right {
  text-align: right;
  width: 78%;
  justify-self: flex-start;
  background-color: rgb(227, 230, 230);
  padding: 3px;
  border-radius: $radius-a;
  box-shadow: $image-shadow;
}

.user-left {
  text-align: left;
  width: 78%;
  justify-self: flex-end;
  background-color: rgb(231, 240, 240);
  padding: 3px;
  border-radius: $radius-a;
  box-shadow: $image-shadow;
}


.single-message{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 10px;
}

.big-x-message{
  color: $primary-color;
  font-size: $text-size-xl;
  top: 70px;
  left: 270px;;
  position: relative;
  padding: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
  text-shadow: $image-shadow;
  transition: size ease 2s;

  &:hover{
    color: $secondary-darker;
    font-size: $text-size-xxl;
  }
}

.send-answer{
  font-size: $text-size-l;
  background-color: $primary-color;
  border-radius: 50%;
  padding: 6px;
  margin-top: 10px;
  align-self: center;
  color:$white;
  cursor: pointer;
}

.write-message{
  display: flex;
  flex-direction: column;
  padding-top: 16px;

  .message-textarea{
    
    width:97%;
    height: 40px;
    border-radius: $radius-a;
    border: 1px solid rgb(240, 231, 231);
    font-size: $text-size-m;
    padding: 3px;
    resize: none;
    box-shadow: $image-shadow;
    font-family: $font-type-b;
  }
}