.add-exchangeItem-box .textexchange{
  width: 494px;
  height: 50px;
}
.interchange-on-page{
  display:flex;
  flex-direction: column;
  margin: 0 auto;
  padding-bottom: 30px;

  p{
    font-family: $font-type-b;
    font-size: $text-size-m;
    padding: 3px 0;
    display: inline;
    text-align: center;
    font-style: italic;
    padding-bottom: 10px;
  }
}

.exchange-tab{
  padding: 10px;
  background-color: $navbar-text;
  width: 350px;
  border-radius: $radius-a;
  margin: 0 auto;
}

.offers-on-page{

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.single-exchange{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: $secondary-color;
  width: 320px;
  padding: 10px;
  margin: 0 auto;
  border-radius: $radius-a;
  margin-bottom: 16px;

  img {
    height: 60px;
    border-radius: 50%;
    
  }

}

.single-exchange-text{

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-right: 10px;
  width: 300px;

  .exchange-title{
    font-family: $font-type-b;
    font-size: $text-size-m;
    font-weight: 700;
    text-align: left;
  }
  .exchange-desc{
    font-family: $font-type-b;
    font-size: $text-size-s;
    text-align: left;
  }
}

.offer-icons{
  color: $primary-color;
  cursor: pointer;
  &:hover{
    color: $secondary-darker;
  }
  padding: 5px 5px;
}

.exchange-record{
  font-family: $font-type-b;
  font-size: $text-size-s;
  font-weight: $font-w-light;
  text-transform: uppercase;
  background-color: $secondary-darker;
  padding: 5px;
  border-radius: $radius-a;
  
  a{
    color: $white;
    text-decoration: none;
  }
}

.user-offer-block{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 10px;
  margin: 10px;
}

.user-icon-block{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

@media all and (max-width: 350px) {

  .single-exchange{
    padding: 0;
  }

}