@import './sass/vars';
@import './components/NavBar/NavBar.scss';
@import './components/footer/footer.scss';
@import './components/SearchForm/searchform.scss';
@import './components/account/accountModules.scss';
@import './pages/UserArea/userarea.scss';
@import './components/recordList/RecordCard/recordcard.scss';
@import './pages/SearchPage/searchpage.scss';
@import './components/recordDetails/record-details.scss';
@import './components/Loading/loading.scss';
@import './components/recordDetails/VersionList/versions.scss';
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import './components/library/Articles/articles.scss';


html,body,p{
  margin:0;
  padding:0;
}

body{
  height:100%;
  width: 100%;
}

textarea:focus, input:focus{
  outline: none;
}

.title-pages {
  font-family: $font-type-b;
  font-size: $text-size-l;
  text-align: center;
}
