@import './sass/vars';
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import './components/NavBar/NavBar.scss';
@import './components/footer/footer.scss';
@import './components/SearchForm/searchform.scss';
@import './components/account/accountModules.scss';
@import './components/recordList/RecordCard/recordcard.scss';
@import './components/recordList/RecordCard/recordcard-sm.scss';
@import './pages/SearchPage/searchpage.scss';
@import './components/recordDetails/record-details.scss';
@import './components/Loading/loading.scss';
@import './components/recordList/ActionBar/actionbar.scss';
@import './components/recordDetails/VersionList/versions.scss';
@import './components/library/Articles/articles.scss';
@import './components/Modal/modal.scss';
@import './components/userZone/SideBar/sidebar.scss';
@import './components/comments/AddComment/AddComment.scss';
@import './components/comments/CommentBox/commentbox.scss';
@import './components//Carousel//Carousel.scss';
@import './components/userZone/PersonalDetail/personalDetail.scss';

html,body,p{
  margin:0;
  padding:0;
}

body{
  height:100%;
  width: 100%;
}

textarea:focus, input:focus{
  outline: none;
}

.title-pages {
  font-family: $font-type-b;
  font-size: $text-size-l;
  text-align: center;
}

.pages-blocks{
  max-width: 950px;
  margin: 0 auto;
  padding-bottom: 50px;
}

.about-block{
  max-width: 450px;
  margin: 0 auto;
  padding-bottom: 50px;
}